*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #F7F8FA;
}
.container {
  width: 100%;
}
.topbar {
  background-color: #316DC3;
  padding: 15px;
  width: 100%;
}
.social-icons {
  display: inline-block;
  width: 33%;
  text-align: center;
}
.topbar a {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}
.topbar-txt {
  display: inline-block;
  width: 33%;
  color: white;
  font-size: 14px;
}
.topbar-btn {
  display: inline-block;
  width: 33%;
  text-align: center;
  font-size: 12px;

}
.topbar-btn a {
  color:green;
  background-color: #F5F5F5;
  padding: 8px;
  text-decoration: none;
}

.logo{
  flex: 1;
  text-align: center;
}
.logo img{
  width: 250px;
  padding-left:70px;
  margin-top: 20px;
}
.menu ul {
  padding: 35px 100px;
}
.menu ul li {
  display: inline;
  margin-right: 20px;
  text-align: center;

}
.menu ul li a {
  text-decoration: none;
  color: #333333;
}
.menu ul li > a {
  padding: 8px 10px;
}
.menu ul li:hover > a {
  background-color: #316DC3;
  color:white;
  border-radius: 20px;
}

.menu-section {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 100%;
  position: sticky;
  background-color: white;
  top: -1px;
  z-index: 9999;

} 
.menu-area {
  flex : 2;
}
.hero-image img{
  width:100%;
}
.strip-box {
  width: 80%;
  background-color: #316DC3;
  margin:5px auto;
  color: white;
}
.strip-box a{
  text-decoration: none;
}
hr.solid{
  width:30px;
  border-top: 3px solid #427900;
  display:inline-block;
  margin-left: 10px;
  margin-right:10px;
}
.heading-txt {
  text-align: center;
  margin-top: 10px;
}
h1 {
  font-family: 'Merriweather', serif;
}
.intro-paragraph {
  width: 70%;
  margin: 0 auto;
}
.intro-paragraph p{
  margin-top: 20px;
  color: #7c7b7b;
  text-align: justify;
  line-height:1.5;
}
.counter-area {
  background-color: #316DC3;
  margin-top: 80px;
  text-align: center;
  padding: 50px 0px 50px 0px;
}
.counter {
  width: 80%;
  margin: 0 auto;
}
.counter img {
  width: 40px;
}
.count-1 {
  width: 300px;
  height: 150px;
  padding-top: 30px;
  display: inline-block;
}
.count-2 {
  width: 300px;
  height: 150px;
  padding-top: 30px;
  display: inline-block;
}
.count-3 {
  width: 300px;
  height: 150px;
  padding-top: 30px;
  display: inline-block;
}
.count-4 {
  width: 300px;
  height: 150px;
  padding-top: 30px;
  display: inline-block;
}
.counter-area h3,h5{
  font-family: 'Merriweather', serif;
}
.counter-area h3{
  color: white;
  font-size: 40px;
  line-height: 1.5;
}
.counter-area h5{
  color: white;
  font-size: 15px;
  line-height: 1.5;
}
.what-we-do {
  width: 80%;
  margin: 60px auto;
  text-align: center;
}
.service-row-1 {
  margin-top: 40px;
}
.service1 {
  width: 350px;
  padding: 35px;
  margin-right:20px;
  display: inline-block;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.13);
}
.service2 {
  width: 350px;
  padding: 35px;
  margin-right:20px;
  display: inline-block;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.13);
}
.service3 {
  width: 350px;
  padding: 35px;
  display: inline-block;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.13);
}
.service-row-2 {
  margin-top: 40px;
}
.inner-service4 {
  width: 350px;
  padding: 35px;
  margin-right:20px;
  display: inline-block;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.13);
}
.inner-service5 {
  width: 350px;
  padding: 35px;
  margin-right:20px;
  display: inline-block;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.13);
}
.inner-service6 {
  width: 350px;
  padding: 35px;
  display: inline-block;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.13);
}
.service-row-1,.service-row-2 h3{
  color: #316DC3;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Merriweather', serif;
}
.Mission-section {
  background-color: white;
  margin-top: 40px;
}
.Mission {
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}
.solid-bar2 {
  float: left;
  width:50px;
  border: 1px solid #427900;
  background-color: green;
  display:inline-block;
}
.heading-txt2 {
  margin-bottom: 30px;
  text-align: center;
  margin-top: 10px;
}
.Mission-projects {
  display: inline-block;
  width: 75%;
}
.upcoming-event {
  display: inline-block;
  width: 20%;
}
.upcoming-event a {
  text-decoration: none;
}
.upcoming-event p {
  color: #7c7b7b;
}
.Hepatitis {
  display: inline-block;
  padding: 15px;
  background-color:rgb(241, 241, 241);
  margin-right: 10px;
  width: 40%;
}
.Housing-society {
  display: inline-block;
  padding: 15px;
  background-color:rgb(241, 241, 241);
  width: 40%;
}
.IT-literacy {
  display: inline-block;
  padding: 15px;
  background-color:rgb(241, 241, 241);
  margin-right: 10px;
  width: 40%;
}
.Tharparkar {
  display: inline-block;
  padding: 15px;
  background-color:rgb(241, 241, 241);
  width: 40%;
}
.project-row-2 {
  margin-top: 10px;
}
.Gallery-section {
  background-color: white;
  padding-top: 80px;
}
.Gallery {
  width: 80%;
  margin: 0 auto;
}
.images-section {
  margin-top: 50px;
}
.images-section img {
  width: 16%;
}
.footer-section-1 {
  background-color: rgb(41, 44, 51);
  padding: 80px 0px;
  margin-top: 60px;
}
.footer-1 {
  width: 80%;
  margin: 0 auto;
}
.info {
  display: inline-block;
  width: 33%;
}
.info p {
  color : rgb(188, 188, 192)
}
info ul li i {
  color: green;
}
.info li {
  color : rgb(188, 188, 192);
  list-style: none;
  line-height: 1.6;
}
.phone1 {
  display: inline;
  margin-right: 10px;
}
.globe {
  display: inline;
}
.links {
  display: inline-block;
  width: 33%;
}
.links h4 {
  color: white;
  font-family:'Merriweather', serif;
}
.contact {
  display: inline-block;
  width: 33%;
}
.contact h4{
  color: white;
  font-family:'Merriweather', serif;
}
.contact ul li {
  display: inline;
  padding: 10px 5px;
}
.contact ul li a {
  background-color: #316DC3;
  color: #fff;
  padding: 7px 10px;
  border-radius: 20px;
}

.footer-section-2 {
  background-color:#316DC3;
}
.footer-2 {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
}
.footer-2 p{
  color: white;
  font-size: 12px;
}
@media only screen and (max-width: 1024px){
  .container {
    width: 1024px;
    overflow: hidden;
}
  .social-icons {
    display: block;
    width: auto;
  }
  .topbar-txt {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    padding: 15px 0px;
    text-align: center;
    width: auto;
  }
  .topbar-btn {
    display: block;
    width: auto;
    padding: 15px 0px;
  }
  .topbar a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
  }
  .topbar a img {
    height: 17px;
    }
  .logo img {
    width: 210px;
    padding-left: 0px;
    }
  .strip-box {
    width: 100%;
    padding: 3px;
  }
  .intro-paragraph {
    width: 90%;
}
.intro-paragraph h1 {
  font-size: 25px;
}
.counter {
  width: 100%;
}
.what-we-do {
  width: 100%;
}
.what-we-do h1 {
  font-size: 30px;
}
.service-row-1 {
  display: inline;
}
.service-row-2 {
  display: inline;
}

.service1 {
  width: 315px;
  margin: 20px;
}
.service2 {
  width: 315px;
  margin: 20px;
}
.service3 {
  width: 315px;
  margin: 20px;
}
.service-row-2{
  margin: 0px;
}
.inner-service4 {
  width: 315px;
  margin: 20px;
}
.inner-service5 {
  width: 315px;
  margin: 20px;
}
.inner-service6 {
  width: 315px;
  margin: 20px;
}
.Mission {
  width: 90%;
}
.Mission-projects {
  display: block;
  width: 100%;
}
.Mission-projects h1 {
  font-size: 23px;
}
.Hepatitis {
  display: inline-block;
  width: 48%;
}
.Housing-society {
    display: inline-block;
    width: 48%;
    margin-top:10px;
}
.IT-literacy {
    display: inline-block;
    width: 48%;
}
.Tharparkar {
    display: inline-block;
    width: 48%;
    margin-top:10px;
    margin-bottom: 40px;
}
.heading-txt2 hr {
  width: 290px;
}
.heading-txt2 .solid-bar2 {
  width: 65px;
}
.upcoming-event {
  display: block;
  width: 100%;
}
.Gallery h1 {
  font-size: 30px;
}
.images-section img {
  width: 32%;
  margin-top: 20px;
}
.footer-1 {
  width: 90%;
}
.info {
  display: inline-block;
  width: 48%;
  margin-top: 35px;
}
.links {
  display: inline-block;
  width: 48%;
}
.contact {
  display: block;
  width: 100%;
  margin-top:20px;
}
.contact ul ~ br {
  display: none;
}
.footer-2 {
  width: 100%;
}
.menu {
  display: none;
}
.toggle-bar {
  margin: 18px 10px 0 0;
  width: 48px;
  float: right;
  cursor: pointer;
}
.toggle-bar i {
  display: block;
  background: rgb(105, 105, 105);
  width: 25px;
  height: 3px;
  border-radius: 2px;
  margin-top: 5px;
  margin-left: 14px;
}
}

@media only screen and (max-width: 768px){
  .container {
    width: 768px;
    overflow: hidden;
}
  .social-icons {
    display: block;
    width: auto;
  }
  .topbar-txt {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    padding: 15px 0px;
    text-align: center;
    width: auto;
  }
  .topbar-btn {
    display: block;
    width: auto;
    padding: 15px 0px;
  }
  .topbar a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
  }
  .topbar a img {
    height: 17px;
    }
  .logo img {
    width: 210px;
    padding-left: 0px;
    }
  .strip-box {
    width: 100%;
    padding: 3px;
  }
  .intro-paragraph {
    width: 90%;
}
.intro-paragraph h1 {
  font-size: 25px;
}
.counter {
  width: 100%;
}
.what-we-do {
  width: 100%;
}
.what-we-do h1 {
  font-size: 30px;
}
.service-row-1 {
  display: inline;
}
.service-row-2 {
  display: inline;
}

.service1 {
  width: 315px;
  margin: 20px;
}
.service2 {
  width: 315px;
  margin: 20px;
}
.service3 {
  width: 315px;
  margin: 20px;
}
.service-row-2{
  margin: 0px;
}
.inner-service4 {
  width: 315px;
  margin: 20px;
}
.inner-service5 {
  width: 315px;
  margin: 20px;
}
.inner-service6 {
  width: 315px;
  margin: 20px;
}
.Mission {
  width: 90%;
}
.Mission-projects {
  display: block;
  width: 100%;
}
.Mission-projects h1 {
  font-size: 23px;
}
.Hepatitis {
  display: inline-block;
  width: 48%;
}
.Housing-society {
    display: inline-block;
    width: 48%;
    margin-top:10px;
}
.IT-literacy {
    display: inline-block;
    width: 48%;
}
.Tharparkar {
    display: inline-block;
    width: 48%;
    margin-top:10px;
    margin-bottom: 40px;
}
.heading-txt2 hr {
  width: 290px;
}
.heading-txt2 .solid-bar2 {
  width: 65px;
}
.upcoming-event {
  display: block;
  width: 100%;
}
.Gallery h1 {
  font-size: 30px;
}
.images-section img {
  width: 32%;
  margin-top: 20px;
}
.footer-1 {
  width: 90%;
}
.info {
  display: inline-block;
  width: 48%;
  margin-top: 35px;
}
.links {
  display: inline-block;
  width: 48%;
}
.contact {
  display: block;
  width: 100%;
  margin-top:20px;
}
.contact ul ~ br {
  display: none;
}
.footer-2 {
  width: 100%;
}
.menu {
  display: none;
}
.toggle-bar {
  margin: 18px 10px 0 0;
  width: 48px;
  float: right;
  cursor: pointer;
}
.toggle-bar i {
  display: block;
  background: rgb(105, 105, 105);
  width: 25px;
  height: 3px;
  border-radius: 2px;
  margin-top: 5px;
  margin-left: 14px;
}
}
@media only screen and (max-width: 414px){
  .container {
    width: 414px;
    overflow: hidden;
}
  .social-icons {
    display: block;
    width: auto;
  }
  .topbar-txt {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    padding: 23px 0px;
    text-align: center;
    width: auto;
  }
  .topbar-btn {
    display: block;
    width: auto;
    padding: 23px 0px;
  }
  .topbar a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
  }
  .topbar a img {
    height: 17px;
    }
  .logo img {
      width: 180px;
      padding-left: 12px;
    }
  .strip-box {
    width: 100%;
    padding: 3px;
  }
  .intro-paragraph {
    width: 90%;
}
.intro-paragraph h1 {
  font-size: 25px;
}
.counter {
  width: 100%;
}
.what-we-do {
  width: 100%;
}
.what-we-do h1 {
  font-size: 25px;
}
.service1 {
  width: 315px;
  margin: 20px;
}
.service2 {
  width: 315px;
  margin: 20px;
}
.service3 {
  width: 315px;
  margin: 20px;
}
.service-row-2{
  margin: 0px;
}
.inner-service4 {
  width: 315px;
  margin: 20px;
}
.inner-service5 {
  width: 315px;
  margin: 20px;
}
.inner-service6 {
  width: 315px;
  margin: 20px;
}
.Mission {
  width: 90%;
}
.Mission-projects {
  display: block;
  width: 100%;
}
.Mission-projects h1 {
  font-size: 23px;
}
.Hepatitis {
  display: block;
  width: 100%;
}
.Housing-society {
    display: block;;
    width: 100%;
    margin-top:10px;
}
.IT-literacy {
    display: block;;
    width: 100%;
}
.Tharparkar {
    display: block;;
    width: 100%;
    margin-top:10px;
    margin-bottom: 40px;
}
.upcoming-event {
  display: block;
  width: 100%;
}
.Gallery h1 {
  font-size: 25px;
}
.images-section img {
  width: 100%;
  margin-top: 20px;
}
.footer-1 {
  width: 90%;
}
.info {
  display: block;
  width: 100%;
  margin-top: 35px;
}
.links {
  display: block;
  width: 100%;
  margin-top: 35px;
}
.links br {
  display: none;
}
.contact {
  display: block;
  width: 100%;
}
.contact ul ~ br {
  display: none;
}
.footer-2 {
  width: 100%;
}
.menu {
  display: none;
}
.toggle-bar {
  margin: 18px 10px 0 0;
  width: 48px;
  float: right;
  cursor: pointer;
}
.toggle-bar i {
  display: block;
  background: rgb(105, 105, 105);
  width: 25px;
  height: 3px;
  border-radius: 2px;
  margin-top: 5px;
  margin-left: 14px;
}
}
@media only screen and (max-width: 411px){
  .container {
    width: 411px;
    overflow: hidden;
}
  .social-icons {
    display: block;
    width: auto;
  }
  .topbar-txt {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    padding: 23px 0px;
    text-align: center;
    width: auto;
  }
  .topbar-btn {
    display: block;
    width: auto;
    padding: 23px 0px;
  }
  .topbar a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
  }
  .topbar a img {
    height: 17px;
    }
  .logo img {
      width: 180px;
      padding-left: 12px;
    }
  .strip-box {
    width: 100%;
    padding: 3px;
  }
  .intro-paragraph {
    width: 90%;
}
.intro-paragraph h1 {
  font-size: 25px;
}
.counter {
  width: 100%;
}
.what-we-do {
  width: 100%;
}
.what-we-do h1 {
  font-size: 25px;
}
.service1 {
  width: 315px;
  margin: 20px;
}
.service2 {
  width: 315px;
  margin: 20px;
}
.service3 {
  width: 315px;
  margin: 20px;
}
.service-row-2{
  margin: 0px;
}
.inner-service4 {
  width: 315px;
  margin: 20px;
}
.inner-service5 {
  width: 315px;
  margin: 20px;
}
.inner-service6 {
  width: 315px;
  margin: 20px;
}
.Mission {
  width: 90%;
}
.Mission-projects {
  display: block;
  width: 100%;
}
.Mission-projects h1 {
  font-size: 23px;
}
.Hepatitis {
  display: block;
  width: 100%;
}
.Housing-society {
    display: block;;
    width: 100%;
    margin-top:10px;
}
.IT-literacy {
    display: block;;
    width: 100%;
}
.Tharparkar {
    display: block;;
    width: 100%;
    margin-top:10px;
    margin-bottom: 40px;
}
.upcoming-event {
  display: block;
  width: 100%;
}
.Gallery h1 {
  font-size: 25px;
}
.images-section img {
  width: 100%;
  margin-top: 20px;
}
.footer-1 {
  width: 90%;
}
.info {
  display: block;
  width: 100%;
  margin-top: 35px;
}
.links {
  display: block;
  width: 100%;
  margin-top: 35px;
}
.links br {
  display: none;
}
.contact {
  display: block;
  width: 100%;
}
.contact ul ~ br {
  display: none;
}
.footer-2 {
  width: 100%;
}
.menu {
  display: none;
}
.toggle-bar {
  margin: 18px 10px 0 0;
  width: 48px;
  float: right;
  cursor: pointer;
}
.toggle-bar i {
  display: block;
  background: rgb(105, 105, 105);
  width: 25px;
  height: 3px;
  border-radius: 2px;
  margin-top: 5px;
  margin-left: 14px;
}
}
@media only screen and (max-width: 375px){
  .container {
    width: 375px;
    overflow: hidden;
}
  .social-icons {
    display: block;
    width: auto;
  }
  .topbar-txt {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    padding: 23px 0px;
    text-align: center;
    width: auto;
  }
  .topbar-btn {
    display: block;
    width: auto;
    padding: 23px 0px;
  }
  .topbar a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
  }
  .topbar a img {
    height: 17px;
    }
  .logo img {
      width: 180px;
      padding-left: 12px;
    }
  .strip-box {
    width: 100%;
    padding: 3px;
  }
  .intro-paragraph {
    width: 90%;
}
.intro-paragraph h1 {
  font-size: 25px;
}
.counter {
  width: 100%;
}
.what-we-do {
  width: 100%;
}
.what-we-do h1 {
  font-size: 25px;
}
.service1 {
  width: 315px;
  margin: 20px;
}
.service2 {
  width: 315px;
  margin: 20px;
}
.service3 {
  width: 315px;
  margin: 20px;
}
.service-row-2{
  margin: 0px;
}
.inner-service4 {
  width: 315px;
  margin: 20px;
}
.inner-service5 {
  width: 315px;
  margin: 20px;
}
.inner-service6 {
  width: 315px;
  margin: 20px;
}
.Mission {
  width: 90%;
}
.Mission-projects {
  display: block;
  width: 100%;
}
.Mission-projects h1 {
  font-size: 23px;
}
.Hepatitis {
  display: block;
  width: 100%;
}
.Housing-society {
    display: block;;
    width: 100%;
    margin-top:10px;
}
.IT-literacy {
    display: block;;
    width: 100%;
}
.Tharparkar {
    display: block;;
    width: 100%;
    margin-top:10px;
    margin-bottom: 40px;
}
.upcoming-event {
  display: block;
  width: 100%;
}
.Gallery h1 {
  font-size: 25px;
}
.images-section img {
  width: 100%;
  margin-top: 20px;
}
.footer-1 {
  width: 90%;
}
.info {
  display: block;
  width: 100%;
  margin-top: 35px;
}
.links {
  display: block;
  width: 100%;
  margin-top: 35px;
}
.links br {
  display: none;
}
.contact {
  display: block;
  width: 100%;
}
.contact ul ~ br {
  display: none;
}
.footer-2 {
  width: 100%;
}
.menu {
  display: none;
}
.toggle-bar {
  margin: 18px 10px 0 0;
  width: 48px;
  float: right;
  cursor: pointer;
}
.toggle-bar i {
  display: block;
  background: rgb(105, 105, 105);
  width: 25px;
  height: 3px;
  border-radius: 2px;
  margin-top: 5px;
  margin-left: 14px;
}
}
@media only screen and (max-width: 360px){
  .container {
    width: 360px;
    overflow: hidden;
}
  .social-icons {
    display: block;
    width: auto;
  }
  .topbar-txt {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    padding: 23px 0px;
    text-align: center;
    width: auto;
  }
  .topbar-btn {
    display: block;
    width: auto;
    padding: 23px 0px;
  }
  .topbar a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
  }
  .topbar a img {
    height: 17px;
    }
  .logo img {
      width: 180px;
      padding-left: 12px;
    }
  .strip-box {
    width: 100%;
    padding: 3px;
  }
  .intro-paragraph {
    width: 90%;
}
.intro-paragraph h1 {
  font-size: 25px;
}
.counter {
  width: 100%;
}
.what-we-do {
  width: 100%;
}
.what-we-do h1 {
  font-size: 25px;
}
.service1 {
  width: 315px;
  margin: 20px;
}
.service2 {
  width: 315px;
  margin: 20px;
}
.service3 {
  width: 315px;
  margin: 20px;
}
.service-row-2{
  margin: 0px;
}
.inner-service4 {
  width: 315px;
  margin: 20px;
}
.inner-service5 {
  width: 315px;
  margin: 20px;
}
.inner-service6 {
  width: 315px;
  margin: 20px;
}
.Mission {
  width: 90%;
}
.Mission-projects {
  display: block;
  width: 100%;
}
.Mission-projects h1 {
  font-size: 23px;
}
.Hepatitis {
  display: block;
  width: 100%;
}
.Housing-society {
    display: block;;
    width: 100%;
    margin-top:10px;
}
.IT-literacy {
    display: block;;
    width: 100%;
}
.Tharparkar {
    display: block;;
    width: 100%;
    margin-top:10px;
    margin-bottom: 40px;
}
.upcoming-event {
  display: block;
  width: 100%;
}
.Gallery h1 {
  font-size: 25px;
}
.images-section img {
  width: 100%;
  margin-top: 20px;
}
.footer-1 {
  width: 90%;
}
.info {
  display: block;
  width: 100%;
  margin-top: 35px;
}
.links {
  display: block;
  width: 100%;
  margin-top: 35px;
}
.links br {
  display: none;
}
.contact {
  display: block;
  width: 100%;
}
.contact ul ~ br {
  display: none;
}
.footer-2 {
  width: 100%;
}
.menu {
  display: none;
}
.toggle-bar {
  margin: 18px 10px 0 0;
  width: 48px;
  float: right;
  cursor: pointer;
}
.toggle-bar i {
  display: block;
  background: rgb(105, 105, 105);
  width: 25px;
  height: 3px;
  border-radius: 2px;
  margin-top: 5px;
  margin-left: 14px;
}
}
@media only screen and (max-width: 320px){
  .container {
    width: 320px;
    overflow: hidden;
}
  .social-icons {
    display: block;
    width: auto;
  }
  .topbar-txt {
    display: block;
    font-size: 13px;
    line-height: 1.5;
    padding: 12px 0px;
    text-align: center;
    width: auto;
  }
  .topbar-btn {
    display: block;
    width: auto;
    padding: 12px 0px;
  }
  .topbar a {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10px;
  }
  .topbar a img {
  height: 17px;
  }

  .logo img {
    width: 180px;
    padding-left: 12px;
  }
  .strip-box {
    width: 100%;
    padding: 3px;
  }
  .intro-paragraph {
    width: 90%;
}
.intro-paragraph h1 {
  font-size: 25px;
}
.counter {
  width: 100%;
}
.what-we-do {
  width: 100%;
}
.what-we-do h1 {
  font-size: 25px;
}
.service1 {
  width: 275px;
  margin: 20px;
}
.service2 {
  width: 275px;
  margin: 20px;
}
.service3 {
  width: 275px;
  margin: 20px;
}
.service-row-2{
  margin: 0px;
}
.inner-service4 {
  width: 275px;
  margin: 20px;
}
.inner-service5 {
  width: 275px;
  margin: 20px;
}
.inner-service6 {
  width: 275px;
  margin: 20px;
}
.Mission {
  width: 90%;
}
.Mission-projects {
  display: block;
  width: 100%;
}
.Mission-projects h1 {
  font-size: 23px;
}
.Hepatitis {
  display: block;
  width: 100%;
}
.Housing-society {
    display: block;;
    width: 100%;
    margin-top:10px;
}
.IT-literacy {
    display: block;;
    width: 100%;
}
.Tharparkar {
    display: block;;
    width: 100%;
    margin-top:10px;
    margin-bottom: 40px;
}
.upcoming-event {
  display: block;
  width: 100%;
}
.Gallery h1 {
  font-size: 25px;
}
.images-section img {
  width: 100%;
  margin-top: 20px;
}
.footer-1 {
  width: 90%;
}
.info {
  display: block;
  width: 100%;
  margin-top: 35px;
}
.links {
  display: block;
  width: 100%;
  margin-top: 35px;
}
.links br {
  display: none;
}
.contact {
  display: block;
  width: 100%;
}
.contact ul ~ br {
  display: none;
}
.footer-2 {
  width: 100%;
}
.menu {
  display: none;
}
.toggle-bar {
  margin: 18px 10px 0 0;
  width: 48px;
  float: right;
  cursor: pointer;
}
.toggle-bar i {
  display: block;
  background: rgb(105, 105, 105);
  width: 25px;
  height: 3px;
  border-radius: 2px;
  margin-top: 5px;
  margin-left: 14px;
}

}
.move-top-arrow {
  bottom: 12px;
  height: 45px;
  background: rgba(8, 5, 5, 0.226);
  position: fixed;
  right: 12px;
  text-align: center;
  width: 50px;
}
.move-top-arrow i {
  color: #fff;
  font-size: 42px;
}